@using Shared.Enums
@using Shared.Helpers

<h3>Cadastro de Produtos</h3>
<div class="caixaBranca">
    <EditForm Model="@ViewModel.ProdutoCadastro" OnValidSubmit="() => ViewModel.CadastrarProdutoCommand.ExecuteAsync(ViewModel.ProdutoCadastro)">
        <DataAnnotationsValidator />

        <label>@DisplayNameHelper.DisplayNameFor(() => ViewModel.ProdutoCadastro.DescricaoSimples)</label>
        <InputText @bind-Value="ViewModel.ProdutoCadastro.DescricaoSimples" class="form-control" />
        <ValidationMessage For="@(() => ViewModel.ProdutoCadastro.DescricaoSimples)" class="text-danger" />

        <label>@DisplayNameHelper.DisplayNameFor(() => ViewModel.ProdutoCadastro.Lote)</label>
        <InputText @bind-Value="ViewModel.ProdutoCadastro.Lote" class="form-control" />
        <ValidationMessage For="@(() => ViewModel.ProdutoCadastro.Lote)" class="text-danger" />

        <label>@DisplayNameHelper.DisplayNameFor(() => ViewModel.ProdutoCadastro.DataEntrega)</label>
        <InputDate @bind-Value="ViewModel.ProdutoCadastro.DataEntrega" TValue="DateTime" class="form-control" />
        <ValidationMessage For="@(() => ViewModel.ProdutoCadastro.DataEntrega)" class="text-danger" />

        <label>@DisplayNameHelper.DisplayNameFor(() => ViewModel.ProdutoCadastro.NFe)</label>
        <InputText @bind-Value="ViewModel.ProdutoCadastro.NFe" class="form-control" />
        <ValidationMessage For="@(() => ViewModel.ProdutoCadastro.NFe)" class="text-danger" />

        <label>@DisplayNameHelper.DisplayNameFor(() => ViewModel.ProdutoCadastro.DescricaoDetalhada)</label>
        <InputText @bind-Value="ViewModel.ProdutoCadastro.DescricaoDetalhada" class="form-control" />
        <ValidationMessage For="@(() => ViewModel.ProdutoCadastro.DescricaoDetalhada)" class="text-danger" />

        <label>@DisplayNameHelper.DisplayNameFor(() => ViewModel.ProdutoCadastro.Unidade)</label>
        <InputSelect @bind-Value="ViewModel.ProdutoCadastro.Unidade" TValue="UnidadeEnum" class="form-select">
            <option value="">-- Escolha uma opção --</option>
            @foreach (var unidade in Enum.GetValues<UnidadeEnum>())
            {
                <option value="@unidade">@unidade</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => ViewModel.ProdutoCadastro.Unidade)" class="text-danger" />

        <label>@DisplayNameHelper.DisplayNameFor(() => ViewModel.ProdutoCadastro.Categoria)</label>
        <InputSelect @bind-Value="ViewModel.ProdutoCadastro.Categoria" TValue="CategoriaEnum" class="form-select">
            <option value="">-- Escolha uma opção --</option>
            @foreach (var categoria in Enum.GetValues<CategoriaEnum>())
            {
                <option value="@categoria">@categoria.GetDescription()</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => ViewModel.ProdutoCadastro.Categoria)" class="text-danger" />

        <label>@DisplayNameHelper.DisplayNameFor(() => ViewModel.ProdutoCadastro.Quantidade)</label>
        <InputNumber @bind-Value="ViewModel.ProdutoCadastro.Quantidade" min="0" class="form-control" />
        <ValidationMessage For="@(() => ViewModel.ProdutoCadastro.Quantidade)" class="text-danger" />

        <label>@DisplayNameHelper.DisplayNameFor(() => ViewModel.ProdutoCadastro.DataValidade)</label>
        <InputDate @bind-Value:culture="pt-BR" @bind-Value:format="dd/MM/yyyy" @bind-Value="ViewModel.ProdutoCadastro.DataValidade" TValue="DateTime?" class="form-control" />
        <ValidationMessage For="@(() => ViewModel.ProdutoCadastro.DataValidade)" class="text-danger" />

        @if (ViewModel.Cadastrando)
        {
            <SpinnerComponent />
        }
        else
        {
            <div>
                <button type="submit" class="btn btn-primary mb-3">Cadastrar</button>
            </div>
        }
    </EditForm>
</div>

@code {
    [Parameter]
    public ProdutosViewModel ViewModel { get; set; } = default!;
}